@charset "ISO-8859-1";
.ebox
{
	padding: 100px;
	background-color: rgb(246, 250, 251)!important;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbar-brand {
  letter-spacing: 3px;
  color: #c24244;
}

.navbar-brand:hover {
	color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: rgb(255, 255, 255);
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4a2b17;
}

.navbar-scrolled {
  background-color: #ddeceb;
}


/* body { */
/*     font-family: Arial, sans-serif; */
/*     background-color: #f4f4f4; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

.container {
    width: 100%;
    margin: 0 auto;
/*     background: #fff; */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
/*     margin-top: 50px; */
}

/* h2 { */
/*     text-align: center; */
/*     margin-bottom: 20px; */
/* } */

/* .form-group { */
/*     margin-bottom: 15px; */
/* } */

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #218838;
}